
.DS_Store
Lab5/FootballPlayer.cs
Lab5/bin/Debug/Lab5.exe
Lab5/bin/Debug/Lab5.pdb
Lab5/HockeyPlayer.cs
Lab5/obj/Debug/Lab5.csprojAssemblyReference.cache
Lab5/obj/Debug/Lab5.exe
Lab5/Program.cs
Lab5/bin/Debug/Lab5.exe
Lab5/bin/Debug/Lab5.pdb
Lab5/FootballPlayer.cs
Lab5/HockeyPlayer.cs
Lab5/Human.cs
Lab5/obj/Debug/Lab5.csprojAssemblyReference.cache
